/* Main Content Styles */
.main-content {
    display: flex;
    height: calc(100vh - 80px);
    margin-top: 0px;
}

.recipe-preview {
    flex: 3;
    background-color: #2A4250;
    color: #F1F2CC;
    padding: 20px;
}

.categories {
    flex: 1;
    background-color: #628370;
    color: #F1F2CC;
    padding: 20px;
}

/* Form Styles */
.add-recipe-form {
    flex: 1;
    background-color: #628370;
    color: #1A3240;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
}

.add-recipe-form input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.add-recipe-form button {
    padding: 10px 20px;
    background-color: #F1F2CC;
    color: #1A3240;
    border: none;
    cursor: pointer;
}
